.allDogs {

    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.singleDog {
    
    overflow: hidden;
    margin: 4px;
    border-radius: 0.45em;
    box-shadow: 3px 2px 14px rgb(38, 38, 49, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 200ms;
}

.singleDog:hover {
    transform: scale(1.02);
}

.dogHeader{
    border: 2px solid white;
    border-radius: 0.45em;
    font-family: 'Concert One', cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dogPrice{
    padding: 16px;
}

#dogCoverPhoto {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.dogName {
    font-family: inherit;
    text-align: center;
    padding: 1rem;
}



@media(max-width: 800px) {
    .allDogs {
        margin: 4px;
        width: 370px;
        grid-template-columns: 1fr;
    }
}