
.buttonCollection{
    display: flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
}


.filterToggle {
    background: #CC6666;
    border-radius: 100px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.20em;
    margin: 10px;
    box-shadow: 3px 2px 14px rgb(38, 38, 49, 0.4); 
    width: fit-content;
}

.filterToggle:hover {
    background: #cc6666c7;
    color: white;
    cursor: pointer;
}

#filterIconContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#filterIconText {
    margin-left: 10px;
}



.filterContainer{
    display: none;
    text-align: center;
    margin: 10px 6px 2px 6px;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
}

.showFilters{
    display: flex;
}

.showFiltersOpacity{
    opacity: 1;
    transition: opacity 0.3s ease-in;
    -webkit-transition: opacity 0.3s ease;
}


.filterStatusContainer{
    margin: 8px 0 5px 0;
    display: flex;
    justify-content: center;

}

.filterStatus{
    color: rgb(67, 67, 67);
    background-color: rgba(255, 255, 255, 0.644);
    padding: 10px;
    box-shadow: 3px 2px 14px rgb(38, 38, 49, 0.4);
    border-radius: 100px 100px;

}

.filterAlignment{
    margin-top: 10px;
}

.subFilterContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#priceFilterContainer{
    display: flex;
    flex-direction: row;
}

#minPrice::-webkit-input-placeholder {
    color: rgb(67, 67, 67);
}

#maxPrice::-webkit-input-placeholder {
    color: rgb(67, 67, 67);
}

#dogName::-webkit-input-placeholder {
    color: rgb(67, 67, 67);
}

#dogStateFilter{
    width: fit-content;
    
}

#minPrice, #maxPrice, #dogName{
    height: 35px;
    border: 5px solid white;
    background-color: white;
    box-shadow: 3px 2px 14px rgb(38, 38, 49, 0.4);
    border-radius: 100px 100px;
    width: 100%;
    line-height: 4em;
    margin: 0 2px;

}

#maxPrice{
    width: 96px;
}

  
  
 /* arrows */
.filter-dropdown {
    height: 35px;
    border: 5px solid white;
    background-color: white;
    box-shadow: 3px 2px 14px rgb(38, 38, 49, 0.4);
    border-radius: 100px 100px;
    width: 100%;
    line-height: 4em;
    margin: 0 2px;
    
}
 
  

@media(max-width: 800px) {

    .subFilterContainer{
        flex-direction: column;
    }

    #priceFilterContainer{
        flex-direction: column;
        margin-top: 0px;
    }

    .filter-dropdown{
        width: 95vw;
        margin: 4px;
    }

    #dogStateFilter{
        width: 95vw;
    }

    .filterAlignment{
        margin-top: 0;
    }

    #minPrice, #maxPrice, #dogName{
        width: 95vw;
        margin: 4px;
    
    }

    
}