@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

input::-webkit-input-placeholder {
    color: white;
}

input:-moz-placeholder {
    color: white;
}

textarea::-webkit-input-placeholder {
    color: white;
}

textarea:-moz-placeholder {
    color: white;
}

.largeFont {
    text-align: center;

    font-family: 'Concert One', cursive;

}

#drag-drop-area{
    box-shadow: 3px 2px 14px rgb(38, 38, 49, 0.4);
}

form {
    background-color: rgba(0, 0, 0, 0.644);
    padding: 30px;
    border-radius: 5px;
    width: 800px;
    margin: 50px auto;
}

.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #CC4949;
}

textarea {
    color: red;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #CC6666;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #CC4949;
}

.align {
    display: flex;
}

.alignCurrency {
    display: flex;
}

#name {
    margin-right: 4px;
}

#age {
    margin-right: 4px;
}

#currency {
    margin-right: 4px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    box-sizing: border-box;
    outline: 0;
}


@media(max-width: 800px) {
    form {
        padding: 0 30px;
        margin: 10px auto;
        background-color: rgba(0, 0, 0, 0);
        color: #CC6666;
        border-radius: 0;
        width: 100%;
    }

    .align {
        display: block;
    }

    input::-webkit-input-placeholder {
        color: black;
    }
    
    input:-moz-placeholder {
        color: black;
    }
    
    textarea::-webkit-input-placeholder {
        color: black;
    }
    
    textarea:-moz-placeholder {
        color: black;
    }
    .feedback-input {
        color: black;
    }

    #currency {
        color: black;
    }
}