@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

nav {
    width: 800px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: 'Concert One', cursive;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
nav .mainMenu li:hover {
    background: black;
    cursor: pointer;
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
    font-family: 'GoodBoy';
}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}
@media(max-width: 800px){
    nav{
        width: 100%;
        margin: 0 10px;
    }
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li:hover {
        background: none;
        color: rgb(255, 123, 0);
        font-size: 1.6rem;
    }
}
