.inside-box {
  width: 600px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.897);
  box-shadow: 3px 2px 14px rgb(38 38 49 / 40%);
}

.allMessagesHeader{
  background: #cc6666;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
}


.friend {
  height: 70px;
  border-bottom: 1px solid #e7ebee;
  position: relative;
  color: rgb(67, 67, 67);
}
.friend:hover {
  background: #f1f4f6;
  cursor: pointer;
}

.friend img {
  width: 40px;
  border-radius: 50%;
  margin: 15px;
  float: left;
}

.message-user-name {
  font-family: sans-serif;
  font-size: 19px;
  padding-top: 10px;
  font-weight: 600;
}

.message-submit {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background: #cc6666;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 700;
  margin:0 0 0 5px;
  width:fit-content;
  padding:10px;

}

.feedback-input-messages {
  color: grey;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  width: 78%;
  box-sizing: border-box;
  outline: 0;
  padding:12px;
}

.allMessages {
  color: black;
}

#message-form {
  padding: 0;
  width: 600px;
  height: 600px;
}

#allMessages {
  overflow-y: scroll;
  height: 400px;
  margin: 18px;
  padding: 4px;
}

#title-bar {
  height: 50px;
  background: #cc6666;
  font-size: 30px;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

#title-bar {
  cursor: pointer;
  padding-left: 35px;
  font-size:40px;
}

#title-bar:hover{
  background: #CC4949;

}

/* .bubble{
    display: block;
    min-width: 150px;
    padding: 8px;
    font-size: 20px;
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
    margin-bottom: 20px;
    color: black;
    box-shadow: 0 1px 10px -3px #7b7c7c, 0 1px 5px -3px #8a8b8b;
    float: left;
  

  } */

/* .bubble-left {
  display: block;
  max-width: 70%;
  min-width: 10%;
  display: inline-block;
  font-size: 0.85em;
  position: relative;
  margin: 20% 0 3% 0;
  animation: scaler 150ms ease-out;
  background-color: #444;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  font-weight: 500;
  display: block;
} */


.bubble-left {
  background-color: #444;
  color: white;
  font-size: .85em;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  max-width: 70%;
  min-width: 10%;  
  float: left;
  word-wrap: break-word;
  clear: both;
  animation: scaler 150ms ease-out;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
} 

.bubble-right {
  background-color: #e5eaec;
  color: #222;
  font-size: .85em;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  max-width: 70%;
  min-width: 10%;  
  float: right;
  word-wrap: break-word;
  clear: both;
  animation: scaler 150ms ease-out;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.text-body{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 7px;
}

.send-div{
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.backButtonMessages{
  font-size: 25px;
  margin-top: 8px;
  margin-right: 10px;
  padding: 4px;

}

.backButtonMessages:hover{
  color: grey;
}

.no-messages{
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: 30px;
}

.outer-div-messages{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}


@media (max-width: 600px) {
  .inside-box {
    width: 100vw;
    height: 100%;
    box-shadow: 3px 2px 14px rgb(38 38 49 / 40%);
  }

  #message-form{
    width: 100vw;
    height: 100%;
    margin: 0 8px;
  }

}

.unsend{
  color: grey;
  float: right;
  padding:4px;
  display: block;
  position: absolute;
  height: 20px;
  bottom: -20px;
  right: 0px;

}

.unsend:hover{
  cursor: pointer;
}


