body{
    height: 100vh;
    display: grid;
    justify-content: center;
}

#wrapper{
    border: 2px solid red;
}

#navBar{
    display: flex;
    border: black 2px solid;
}

.navLink{
    padding: 0 10px;
}

.navLink:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

fieldset{
    border: black 2px solid;
}

