@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: black;
    font-family: 'Lexend Deca', sans-serif;
    overflow: hidden;
}

@font-face {
    font-family: 'GoodBoy';
    src: url(../fonts/GoodBoy.ttf);
}


#wrapper {
    margin:0;
    padding: 0;
    display: grid; 
    height: 100vh;
  grid-template-columns: 1fr; 
  grid-template-rows: 80px 2.4fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header"
    "content"
}


#header{    
    grid-area: header;
    background: black;
    box-shadow: 3px 2px 14px rgb(38, 38, 49, 0.4); 
    border-bottom: 2px solid #CC6666;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#content{
    background-color: #f7f7ff;
    display: grid;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}



@media(max-width: 800px) {
    
}
